.flip-card {
	height: 450px;
	margin: auto;
	width: 300px;
}

.flip-card-back {
    background-color: #ff5722;
    color: #fff;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip-card-back .back-header {
    height: 45%;
    text-align: center;
}

.flip-card-back .back-header img {
    margin-top: 20px;
    width: 50%;
}

.flip-card-back, .flip-card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.flip-card-back .back-footer {
    height: 55%;
    padding: 0px 15px;
}

.flip-card-front {
}

.flip-card-front img {
    margin-top: 20px;
    width: 50%;
}

.flip-card-inner {
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.back-footer {
}

.back-header {
}

.title {
	margin: 40px auto 30px;
	text-align: center;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}