:root {
    --clr: #222327;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--clr);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.navigation {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    height: 70px;
    justify-content: center;
    position: relative;
    width: 400px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    height: 70px;
    list-style: none;
    position: relative;
    width: 70px;
    z-index: 1;
}

.navigation ul li a {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

.navigation ul li a .icon {
    color: var(--clr);
    display: block;
    font-size: 1.5em;
    line-height: 75px;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    color: var(--clr);
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    background: #29fd53;
    border: 6px solid var(--clr);
    border-radius: 50%;
    position: absolute;
    height: 70px;
    top: -50%;
    transition: 0.5s;
    width: 70px;
}

.indicator::before {
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0px 0px var(--clr);
    content: '';
    height: 20px;
    left:  -22px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.indicator::after {
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0px 0px var(--clr);
    content: '';
    height: 20px;
    position: absolute;
    right:  -22px;
    top: 50%;
    width: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}