section {
    align-items: center;
    background-color: #808080;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.card {
	background: #fff;
	border-radius: 18px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px 20px;
	grid-template-areas: 'image' 'text' 'stats';
    margin: -30px;
    perspective: 1000px;
	text-align: center;
    transform-style: preserve-3d;
    transition: 0.5s ease;
}


.card-image {
	background: url('../../assets/pexels-suzy-hazelwood-1629236-min.jpg');
	background-size: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	grid-area: image;
}

.card-stats {
    background: rgb(255, 7, 110);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
	grid-area: stats;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right:  1px solid rgb(172, 26, 87);
}

.card-stats .stat {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .value sup {
    font-size: 12px;
}

.card-text {
	grid-area: text;
	margin: -25px;
    transform: translateZ(30px);
}

.card-text .date {
	color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text h2 {
    font-size: 28px;
    margin-top: 0px;
}

.card-text .p {
    color: #808080;
    font-size: 10px;
    font-weight: 300;
}

.card:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.15);
}

/* TWO */
.card-image.card2 {
    background: url("../../assets/pexels-bithin-raj-2763927-min.jpg");
    background-size: cover;
}

.card-text.card2 .date {
    color: rgb(255, 77, 7);
}

.card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
}

.card-stats.card2 {
    background: rgb(255, 77, 7);
}

/*  THREE */
.card-image.card3 {
    background: url("../../assets/pexels-stein-egil-liland-3374210-min.jpg");
    background-size: cover;
}

.card-text.card3 .date {
    color: rgb(0, 189, 63);
}

.card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
}

.card-stats.card3 {
    background: rgb(0, 189, 63);
}